# API Server
PORT=4010
ENV=development

# Database (举例)
FLASH_DB_DSN=host=localhost user=ZY password=123456 dbname=flash_monitor port=5433 sslmode=disable

# Web3 RPC
ETH_RPC_MAIN=https://mainnet.infura.io/v3/Your_Key